:root {
  --color-title: #212121;
  --font-title: Raleway, sans-serif;
}
a:hover,
a:focus {
  color: #2196f3;
}
button:hover,
button:focus {
  color: #2196f3;
}

body {
  font-family: Roboto, Raleway, sans-serif;
  color: #757575;
  width: 1600px;
}
/* Header box */
.header {
  display: flex;
  align-items: center;
}
.logo {
  margin: 24px 93px 25px 215px;
  text-decoration: none;
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.text-logo {
  color: #000;
}
.nav-list {
  display: flex;
  list-style-type: none;
}
.item-nav {
  padding-right: 50px;
}

.text-link-nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title);
}
.list-contact-head {
  display: flex;
  margin-left: 281px;
  list-style-type: none;
}
.item-contact-head {
  padding-right: 50px;
}

.text-contact-head {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/* Hero box */
.hero {
  background-color: #2f303a;
  padding: 200px 452px 0 452px;
  margin-bottom: 94px;
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}
.hero-btn {
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 200px;
  cursor: pointer;
}
